@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* navHeader */
.logoImg{height: 90px;
  padding: 0 0 0 3rem;}
#navHeader {
  padding: 0.2em 2rem;
  background-color: #001f3f;
  color: #fff;
}

#navHeader .icon {
  display: inline-block;
  border: 1px solid #46597d;
  border-top: 0;
  border-bottom: 0;
  padding: 15px 10px;
}

#navHeader a {
  color: #fff;
}

#navHeader img,
#features img {
  height: 20px;
}

/* END - navHeader */

/* navbar */
.nav-item {
  padding: 0 2rem;
}

.navbar a {
  color: #000;
  font-weight: 700;
}

.navbar .dropdown-item {
  color: #000;
}

.navbar-toggler-icon {
  background-image: url(images/navbar-toggle.png);
}

.navbar {
  z-index: 10;
  width: 100%;
  position: absolute;
}

.dropdown-menu:li {
  text-align: left;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item:hover {
  background-color: #001f3f;
  color: #000;
}

.dropdown-item {
  padding: 0.25rem 0.5rem;
}

nav.black {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar a.white {
  color: #fff;
  font-weight: 700;
}

/* End- navbar */

/* SIDE BRAND */

.soc {
  color: #000;
  position: fixed;
  top: 50%;
  right: -55px;

  z-index: 10;
  border-radius: 15px 15px 0 0;
}

.soc li {
  list-style: none;
}

.soc a {
  display: block;
  text-align: center;
  padding: 1px;
  transition: all 0.3s ease;
}
.verticalText {
  transform: rotate(-90deg);
  padding: 20px;
  margin: 20px;
}

/* end- SIDE BRAND */

/* HERO */

.caro1{
  background-image: linear-gradient(to right top, #f20beb, #c536e6, #9944db, #6e49cc, #4549b8);}
.caro2{
  background-image: linear-gradient(to right top, #dd9556, #ec6151, #e90070, #c100a6, #2526e1);}
.caro3{
  background-image: linear-gradient(to right top, #2526e1, #c100a6, #e90070, #ec6151, #dd9556);
}
.hero-img img{
  padding: 200px 65px 100px 65px;
  width: auto;
  height: 100%;
}
.carousel-item .para{
  top: 300px;
}
.para{ color: #fff;}

.para h2{font-size: 60px;}


/* end - HERO */

/* BUTTON */
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6749C9;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}



/* END - BUTTON */


/* SERVICES */

/* box-service */
.service-item{
  float: left;
  background-color: #000;
  color: #fff;
}
.services .col-md-2{padding: 2.4rem 0;
  /* margin: 50px auto; */
  text-align: center;
}
.services .col-2:hover{
  background-color: #ccc;
}
/* END - box-service */

/* #copy */
#copy, #no-design{background-color: #F3F6FB;}

/* #printing */
/* .box{
  padding: 0 5rem !important;
} */
.box1{padding: 4rem 5rem;}
.box1-btn{margin-top: 3rem;}
.box2{padding: 5rem 2rem 1rem;}
.box2 h2, #products h2{margin-bottom: 1rem; font-size: 3rem;}
.box2 p, .box2 ol, #products p{font-size: 1.2rem;}
.box2 ol{padding-left: 30px;}
/* end -  #printing */


/* end- SERVICES */


/* PRODUCTS */
#products .btn-lg{margin: 4rem auto;}

/* END- PRODUCTS */


/* ----------------------------- */
section {
  padding: 60px 0 10px;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #007b5e !important;
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}


.foot-icon img{height: 20px;padding-top: 0px;}
.foot-icon {
  text-align: center;
  width: 50px;
  height: 50px;
padding-top: 12px;
  display: inline-block;
  border: 2px solid #F3F6FB;
  border-radius: 50%;
  margin: 0.3rem;
}
.row hr{border-top: 0.2px solid #fff;}


/* MEDIA QUERY */
@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  }

  
  /* ;;;;;;;;;;;;;;;;;;;; */
  /* MEDIA QUERY */
@media(max-width:780px) and (min-width:202px) {
  #navheader, .navbar{text-align: center;}
  .hero-img img{
    padding: 150px 10px 10px 10px;
    height: 80%;
  }
  .row{margin: auto 0;}
  .container-fluid{padding:  0 !important;}
  .carousel-item .para{top: 0;padding-left: 70px;}  
  .box1{padding-top: 3rem !important;}
  .carousel-item h2, .box1 h2, .box2 h2, #products h2{font-size: 2.2rem; margin-bottom: 2rem;}
  .carousel-item h2{margin-bottom: 4rem;}
  .carousel-item h3, .box1 h5{font-size: 1.4rem;}
  .services h5, .box1 p, .box1 ol, #products p{font-size: 1rem;}
  #products .col-sm-12{padding: 0.2rem;}
}