@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a:hover{text-decoration: none; font-style:oblique; color: #fff;}
a{color: #fff;}

/* navHeader */
.logoImg{height: 90px;
  padding: 0 0 0 3rem;}
#navHeader {
  padding: 0.2em 2rem;
  background-color: #001f3f;
  color: #fff;
}

#navHeader .icon {
  display: inline-block;
  border: 1px solid #46597d;
  border-top: 0;
  border-bottom: 0;
  padding: 15px 10px;
}

#navHeader a {
  color: #fff;
}

#navHeader img,
#features img {
  height: 20px;
}

/* END - navHeader */

/* navbar */

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 0 1rem;
}

nav.black {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar a.white {
  color: #fff;
  font-weight: 700;
}
nav.no-top{top: 0;}

.nav-item {
  padding: 0 2rem;
}

.navbar a {
  color: #000;
  font-weight: 700;
}

.navbar .dropdown-item {
  color: #000;
}

.navbar-toggler-icon {
  background-image: url(images/navbar-toggle.png);
}

.dropdown-menu:li {
  text-align: left;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item:hover {
  background-color: #001f3f;
  color: #000;
}

.dropdown-item {
  padding: 0.25rem 0.5rem;
}

nav.black {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar a.white {
  color: #fff;
  font-weight: 700;
}

/* End- navbar */

/* SIDE BRAND */

.soc {
  color: #000;
  position: fixed;
  top: 50%;
  right: -55px;

  z-index: 10;
  border-radius: 15px 15px 0 0;
}

.soc li {
  list-style: none;
}

.soc a {
  display: block;
  text-align: center;
  padding: 1px;
  transition: all 0.3s ease;
}
.verticalText {
  transform: rotate(-90deg);
  padding: 20px;
  margin: 20px;
}

/* end- SIDE BRAND */

/* HERO */

.caro1{
  background-image: linear-gradient(to right top, #f20beb, #c536e6, #9944db, #6e49cc, #4549b8);}
.caro2{
  background-image: linear-gradient(to right top, #dd9556, #ec6151, #e90070, #c100a6, #2526e1);}
.caro3{
  background-image: linear-gradient(to right top, #2526e1, #c100a6, #e90070, #ec6151, #dd9556);
}
.hero-img img{
  padding: 200px 65px 100px 65px;
  width: auto;
  height: 100%;
}
.carousel-item .para{
  top: 300px;
}
.para{ color: #fff;}

.para h2{font-size: 60px;}


/* end - HERO */

/* BUTTON */
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6749C9;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}



/* END - BUTTON */


/* SERVICES */

/* box-service */
.service-item1{
  float: left;
  background-color: #000;
  color: #fff;
}
.services .col-md-2{padding: 2.4rem 0;
  /* margin: 50px auto; */
  text-align: center;
}
.services .col-2:hover{
  background-color: #ccc;
}
/* END - box-service */

/* #copy */
#copy, #no-design,
#brand-services, .about{background-color: #F3F6FB;}

/* #printing */
/* .box{
  padding: 0 5rem !important;
} */
.box1{padding: 4rem 5rem;}
.box1-btn{margin-top: 3rem;}
.box2{padding: 5rem 2rem 1rem;}
.box2 h2, #products h2{margin-bottom: 1rem; font-size: 3rem;}
.box2 p, .box2 ol, #products p{font-size: 1.2rem;}
.box2 ol{padding-left: 30px;}
/* end -  #printing */


/* end- SERVICES */


/* PRODUCTS */
#products .btn-lg{margin: 4rem auto;}

/* END- PRODUCTS */


/* ----------------------------- */
section {
  padding: 60px 0 10px;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #007b5e !important;
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}


.foot-icon img{height: 20px;padding-top: 0px;}
.foot-icon {
  text-align: center;
  width: 50px;
  height: 50px;
padding-top: 12px;
  display: inline-block;
  border: 2px solid #F3F6FB;
  border-radius: 50%;
  margin: 0.3rem;
}
.row hr{border-top: 0.2px solid #fff;}

/* END - FOOTER */

/* FORM */
form {
  margin: 2rem auto;
}

.form-group {
  position: relative;
}
.addbox{padding: 0.5rem 0;}

.contact-form .input-block {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #db4e5a;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-form .input-block.textarea {
  height: auto;
}

.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}

.contact-form .input-block label {
  position: absolute;
  left: 10px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 400;
  z-index: 1;
  color: #aaa;
  font-size: 18px;
  line-height: 10px;
}

.contact-form .input-block .form-control {
  background-color: transparent;
  margin: 0;
  outline: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  padding: 30px 10px;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 18px;
}

.contact-form .input-block .form-control:focus label {
  top: 0;
}

.contact-form .square-button {
  background-color: #db4e5a;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-form .square-button:hover,
.contact-form .square-button:focus {
  background-color: #5f2828;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}


/* SERVICE - PAGE */
#band{text-align: center; padding: 10rem 0 3rem;}
.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
}
.w3-black, .w3-hover-black:hover {
  color: #fff!important;
  background-color: #000!important;
}
.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin: auto 15px;
  border-radius: 2rem;

}
.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
}

/* ABOUT PAGE */

/*=====================
		CIRCLE PROGRESS BAR
	======================*/

  .progressbar {

    margin: 25px;
  }
  
  .circle {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
  }
  
  .circle:after {
    width: 130px;
    height: 130px;
    content: "";
    /* border: 2px solid #fb4f14; */
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
  }
  
  .circle canvas {
    vertical-align: middle;
    /* border: 2px solid #fb4f14; */
    border-radius: 50%;
  }
  
  .circle div {
    position: absolute;
    top: 50%;
    left: 59%;
    margin: -20px 0 0 -86px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 31px;
  
  }
  
  .circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
  }
  
  .circle span {
    display: block;
    color: white;
    margin-top: 12px;
  }
   /* END - COUNTER */

/* TEAM */
#team img{
  height: 150px;
  border-radius: 50%;
  border: 10px solid green;
}
#team .row{margin: auto 15rem;}


/* OWL */

#work img {
  height: 280px;
  width: auto;
  border-radius: 1.2rem;
}


.owl-nav {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem;
}

.owl-nav span {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  border: none;
  padding: 5px 1.5rem 8px;
  margin: 10px;}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}


.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.owl-height {
  transition: height 500ms ease-in-out;
}


.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/* END: OWL */


.desc {
  position: absolute;
  font-size: 2rem;
  font-weight: bolder;
  /* padding: 8%; */
  z-index: 9;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%); 
  color:#000;
  }

  /* TABS */
  .cm-services .nav-link {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, .1);
    /* padding: 20px 35px; */
    color: #cecece !important;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .cm-services {
    position: relative;
    z-index: 1;
    background-image: url(images/bg-services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
  }
  
  .overlay,
  .overlay-dark,
  .overlay-light {
    position: relative;
    z-index: 1;
  }
  
  .overlay::after,
  .overlay-dark::after,
  .overlay-light::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .35;
  }
  
  .overlay-dark::after {
    background-color: #001f3f;
    opacity: .8;
  }
  
  .overlay-light::after {
    background-color: #ffffff;
    opacity: .5;
  }
  .serviceItemBlock .ser-para{
    position: absolute;
    font-size: 1rem;
    font-weight: bolder;
    top: 80%;
    left: 12rem;
    transform: translate(-50%,-50%);
    color: #000;
    }
    #service-icons a{color: #000;}

  /* END -TABS */

/* MEDIA QUERY */
@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  }
@media(max-width:780px) and (min-width:202px) {
  #navHeader, .navbar{text-align: center;}
  #navHeader img{height: 17px;}
  #navHeader .icon{padding: 8px 10px;}
  #navHeader span, #navHeader,
  .contact-form .input-block label {font-size: 0.8rem;}
  .hero-img img{
    padding: 120px 10px 10px 10px;
    height: 80%;
  }
  .row{margin: auto 0;}
  .container-fluid{padding:  0 !important;}
  .carousel-item .para{top: -80px;padding-left: 70px;}  
  .box1{padding-top: 3rem !important;}
  .carousel-item h2, .box1 h2, .box2 h2, #products h2,
  #contactDetails h2,#contactDetails h1{font-size: 2.2rem; margin-bottom: 2rem;}
  .carousel-item h2{margin-bottom: 4rem;}
  .carousel-item h3, .box1 h5,#contactDetails h5{font-size: 1.4rem;}
  .services h5, .box1 p, .box1 ol, #products p,
  #contactDetails p, #contactDetails span{font-size: 1rem;}
  #products .col-sm-12{padding: 0.2rem;}

  /* CONTACT PAGE */
  .contactus img{height: 55vh;}
  iframe{height: 300px;}
  #submit-form .col-sm-12{padding-left: 0;}
  .addbox img,.soc img{height: 30px;}
}